<header>
<mat-toolbar color="primary" class="navbar">
<span>Hybrid Monitoring System</span>

 <div>
    <button mat-button>Home</button>
    <button mat-button [routerLink] = "'/about'">About</button>
 </div>
  
 <div>
    <mat-menu #appMenu1="matMenu" xPosition="after" yPosition="below">
      <button mat-menu-item>Admin</button>
      <button mat-menu-item>User</button>
    </mat-menu>
    <button mat-flat-button [matMenuTriggerFor]="appMenu1">Login</button>
 </div>
</mat-toolbar> 
</header>

<h2>{{title}}</h2>


 <app-chart></app-chart>

 <app-livechart [marketStatus]="toPlot"></app-livechart>
 
 <router-outlet></router-outlet>

 <app-signals></app-signals>

 <app-gauge></app-gauge>










